body {
  width: 100%;
}

#jumbotron {
  background: url(https://images.unsplash.com/photo-1528334713982-2d1fe11a157a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
    center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#jumbotron > h2 {
  color: white;
  text-align: center;
}

#jumbotron > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

#shark {
  text-align: center;
  margin: 1rem;
}

#shark > img {
  max-width: 500px;
  min-width: 50px;
  width: 100%;
  max-height: 500px;
  min-height: 50px;
  height: auto;
}

header > h1 {
  margin: 1em;
}

form {
  max-width: 80%;
  border: solid 2px black;
  margin: 2em;
  padding:  2em;
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
}

#bio {
  margin: 1rem;
}

#bioFluff > p {
  margin: 1rem;
  font-size: 1.3rem;
}

#gallery {
  border: solid 1px black;
  clear: both;
}

#gallery > * {
  padding: 0.5rem;
}

#gallery img {
  display: block;
  max-height: 300px;
  height: auto;
  max-width: 300px;
  width: auto;
  margin: auto;
}

#homeButton {
  text-align: center;
  background-color: beige;
  font-size: 1em;
  padding: 0.3rem;
  margin:  0.3em;
  border:  2px red solid;
  border-radius: 15px;
  max-width: 80px;
  width: auto;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#homeButton > a {
  text-decoration: none;
  color: red;
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }

  #gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 550px) {
  #jumbotron {
    height: 60vh;
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }

  #bio {
    margin-right: 3rem;
  }

  #bio img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    background-color: white;
  }
}
